<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Emizentech\Freeshippingbar\Api\ShippingbarRepositoryInterface" type="Emizentech\Freeshippingbar\Model\ShippingbarRepository"/>
	<preference for="Emizentech\Freeshippingbar\Api\Data\ShippingbarInterface" type="Emizentech\Freeshippingbar\Model\Shippingbar"/>
	<preference for="Emizentech\Freeshippingbar\Api\Data\ShippingbarSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Emizentech\Freeshippingbar\Model\ResourceModel\Shippingbar\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">emizentech_freeshippingbar_shippingbar</argument>
			<argument name="resourceModel" xsi:type="string">Emizentech\Freeshippingbar\Model\ResourceModel\Shippingbar\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="emizentech_freeshippingbar_shippingbar_listing_data_source" xsi:type="string">Emizentech\Freeshippingbar\Model\ResourceModel\Shippingbar\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
